#colorizr.clrz-reset, #colorizr .clrz-reset {
    animation: none !important;
    -webkit-appearance: none !important;
    -moz-appearance:    none !important;
    appearance:         none !important;
    background-color: transparent !important;
    background-image: none !important;
    border: 0 !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    clear: none !important;
    color: #333333 !important;
    columns: auto auto !important;
    content: normal !important;
    cursor: auto !important;
    direction: ltr !important;
    display: inline !important;
    filter: none !important;
    float: none !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    font-stretch: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    hanging-punctuation: none !important;
    height: auto !important;
    hyphens: none !important;
    left: auto !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    list-style: disc outside none !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    opacity: 1 !important;
    orphans: 2 !important;
    outline: none !important;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    padding: 0 !important;
    perspective: none !important;
    pointer-events: auto !important;
    position: static !important;
    right: auto !important;
    tab-size: 8 !important;
    table-layout: auto !important;
    text-align: left !important;
    text-align-last: auto !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-overflow: clip !important;
    text-shadow: none !important;
    text-transform: none !important;
    top: auto !important;
    transform: none !important;
    vertical-align: baseline !important;
    visibility: visible !important;
    white-space: normal !important;
    widows: 2 !important;
    width: auto !important;
    word-break: normal !important;
    word-spacing: normal !important;
    z-index: auto !important;
    zoom: 1 !important;
}

#colorizr div.clrz-reset {
    display: inline-block !important;
}

#colorizr.clrz-panel {
    width: 100% !important;
    height: 210px !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 9999 !important;
    background-color: white !important;
    -webkit-box-shadow: 0 0 6px -6px black !important;
    -moz-box-shadow: 0 0 6px 0 black !important;
    box-shadow: 0 0 6px 0 black !important;
    padding: 30px !important;
}

#colorizr .clrz-header, #colorizr .clrz-rule {
    min-height: 30px !important;
}

#colorizr .clrz-header {
    width: 100% !important;
    border-bottom: 1px solid #aaa !important;
}

#colorizr .clrz-title-title, #colorizr .clrz-title-target, #colorizr .clrz-title-manipulation, #colorizr .clrz-title-name {
    font-weight: bold !important;
    vertical-align: top !important;
}

#colorizr .clrz-rule-container {
    height: 135px !important;
    width: 100% !important;
    position: relative !important;
}

#colorizr .clrz-rule-container-scroller {
    overflow-y: scroll !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding-bottom: 20px !important;
}

#colorizr .clrz-shadow {
    box-shadow: inset 0 -20px 10px -10px white !important;
    position: absolute !important;
    height: 20px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

#colorizr .clrz-color {
    display: none !important
}

#colorizr .clrz-rule > * {
    vertical-align: middle !important;
}

#colorizr .clrz-even-row {
    width: 100% !important;
    background-color: #f9f9f9 !important;
}

#colorizr .sp-replacer {
    margin-left: 15px !important;
}

#colorizr .clrz-target, #colorizr .clrz-name {
    font-family: "Courier New", Courier, monospace !important;
}

#colorizr .clrz-apply {
    color: #4a86e8 !important;
    display: none !important;
}

#colorizr .clrz-apply:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

#colorizr .clrz-title-title, #colorizr .clrz-title {
    width: 200px !important;
    padding-right: 15px !important;
}

#colorizr .clrz-title-target, #colorizr .clrz-target {
    width: 350px !important;
    padding-right: 15px !important;
}

#colorizr .clrz-title-manipulation, #colorizr .clrz-manipulation {
    width: 150px !important;
}

#colorizr .clrz-manipulation:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

#colorizr .clrz-title-name, #colorizr .clrz-name {
    width: 250px !important;
    padding-right: 15px !important;
}

#colorizr #clrz-palette {
    height: 22px !important;
    width: 150px !important;
    background-color: white !important;
    box-shadow: 0 1px 3px 1px #999 !important;
    cursor: pointer !important;
    margin-right: 15px !important;
}

#colorizr #clrz-palette.clrz-alpha {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==) !important;
}

#colorizr #clrz-palette .clrz-palette-color {
    height: 100% !important;
    cursor: pointer !important;
}

#colorizr #clrz-save {
    cursor: pointer !important;
    color: #4a86e8 !important;
    vertical-align: top !important;
}

#colorizr #clrz-save:hover {
    text-decoration: underline !important;
}

#colorizr #clrz-save.clrz-hide {
    display: none !important;
}
